*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.hero{
  background: black;
  height: 100vh;
  
  background-repeat:no-repeat;
  background-position: center center;
  background-image:url("../public/background.jpg");
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);
}

h1{
  color:white;
  padding-top: 60px;
}


.hero-grid{
  margin-top: 50px;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 15%;
  margin-right: 15%;
  column-gap: 30px
}

.hero-grid-item{
  color:white;
  z-index: 1
}

.hero-grid-item:nth-of-type(1){
  grid-row: 1/4;
}

.hero-grid-item:nth-of-type(2) h2{
  float:left
}

.hero-grid-item:nth-of-type(3) p{
  text-align:left
}
.hero-grid-item:nth-of-type(3) input{
  
  margin-top:31px !important;
  float:left;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px

}

#button-left{

  float:left;
  background-color: #4287f5;
  border: 1px solid white;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px

}

#button-right{

  float:left;
  background-color: #ff7e00;
  border: 1px solid white;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px
}



.second-part-wrapper h1{
  display:flex;
  justify-content:center;
  margin-top:0;
  padding-top: 50px;
}

.second-part-wrapper{
  background-repeat:no-repeat;
  background-position: center center;
  background-image:url("https://wallpapercave.com/wp/wp5580232.jpg");
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);

  height:100vh;
  
  z-index:2;
  opacity: 1;

}

.hero-grid-second{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left:15%;
  margin-right: 15%;

  padding-top: 50px;
  place-items: center;
  grid-column-gap: 5%;
  grid-row-gap: 9%;


}

.hero-grid-item-second{

  color:white;
  text-align: center
}


.third-part-wrapper{
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url( "https://wallpaperaccess.com/full/384578.jpg");
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 60%);


}

.third-grid{
  padding-top: 50px;
  padding-bottom: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30%;
  margin-right: 15%;
  column-gap: 30px
}

.third-grid-item{
  color:white;
}
.third-grid-item:nth-of-type(1){
  grid-column: 2/3;
  grid-row: 1/4
}

.footer{
  background: black;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-grid-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

.footer-grid-item h4{
  color: #e2e2e2;
  
}

.footer-grid-item li{
  padding-top: 10px;
  
}
.footer-grid-item ul{
  padding-top: 3px;
  color: #c8c8c8;

}

.footer-grid-item img{
  padding-bottom: 25px;
}

#newsletter-buttom{
  border: 1px white solid;
  width: 250px;
  background: black;
  color: white;
  text-align: left;
  text-indent: 10px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;


}

#newsletter-buttom[type='text']:focus{
  text-align:left;

  }


 #newsletter-buttom:focus::placeholder {
    color: transparent;

  }

  .area-button-newsletter{
    position:relative

  }

  .copyright{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    border-top: solid 1px #8080805e
  }

  .copyright a{
    color: white;
  }



  /* MOBILE STYLE */

  @media (max-width:768px) {

    .hero-grid{
      margin-top: 50px;
      display:grid;
      grid-template-columns: repeat(1,1fr);
      /* margin-left: 15%;
      margin-right: 15%; */
      /* column-gap: 30px */
    }

    .hero-grid-item img{
      width: 100%
    }

    #learn-more{
      display:none
    }

    .hero-grid-item{
      margin-top: 10px;
      display: flex;
      flex-direction: column

    }

    .hero-grid-item:nth-of-type(3) p    {
      text-align: center
    }

    #button-right{
      margin-left: 0;
      margin-top: 20px
    }

    .hero-grid-second{
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left:15%;
      margin-right: 15%;
    
      padding-top: 50px;
      place-items: center;
      grid-column-gap: 5%;
      grid-row-gap: 2%
    
    
    }

    .second-part-wrapper{
      height: auto;
      height: 230vh;
      background-repeat: repeat;

    }

    .second-part-wrapper h1{
      text-align: center;
    }
    
    
    .third-grid{

      display:grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .footer-grid-wrapper{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 10%;
      margin-right: 10%;
      padding-bottom: 3%;
    }


  }